{% extends "app/layout.html" %}

{% block content %}

<div>
    <form method="post" class="post-form">
        {% csrf_token %}
        {{ searchForm.as_p }}
        <button type="submit">GO</button>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th> Title</th>
                <th>Description</th>
                <th>file</th>
                <th>createdBy</th>
            </tr>
        </thead>
        <tbody>
                {% for item in repoDatas %}
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.descriptions}}</td>
                    <td><a href="media/{{item.dataFile}}">{{item.dataFile}}</a></td>
                    <td>{{item.user}} </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <button type="button"><a href="Add">Add</a></button>
    <button type="button"><a href="Delete">Delete</a></button>
    <button type="button"><a href="comment">Comments</a></button>
</div>


{% endblock %}
